{% extends "base.html" %}
{% block main_content %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/about-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About me</h1>
                    <hr class="small">
                    <span class="subheading">Programming and drawing</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 class="section-heading">Software engineer</h2>
            <p>I actually work for a software consulting company called <a href="http://www.xpeppers.com/">XPeppers</a>, in an <a href="http://en.wikipedia.org/wiki/Extreme_programming">eXtreme Programming</a> team.</p>
            <p>That's what me and my colleagues proudly do for living, every working day,
                for a maximum of <a href="http://c2.com/cgi/wiki?FortyHourWeek">40 hours</a> per week. :) I define myself a passionate programmer,
                that's it. I love my job. For more details, you can look at my <a href="https://www.linkedin.com/pub/dario-coco/55/245/658">LinkedIn</a> profile.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-heading">Comic book artist</h2>
                <p>In 2013 I redescovered a passion that I somehow archived for years: drawing and reading comics.
                </p> <p>I simply love comics, that's why I'm working hard to be good at drawing, that includes taking courses and private lessons, and lot of daily practice at home and even in train and other public transport. You can see some of my works in this site.</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock main_content %}